*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
}

body{
    background-color: rgb(132, 239, 234);
    width: 100%;
    height: 100vh;
}

#card{
    background-color: white;
    width: 900px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    
}

header{
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-wrap: wrap;

    display: flex;
    justify-content: center;
    
}

.box{
    background-color: #fff9;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px ;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.box:hover{
    background-color: #fff7;
}

h2{
    text-align: center;
}

